body{
    background-color: black;
    color: white;
}
.outer-container{
    display: flex;
    flex-direction: row;

}
.containers{
    border: red 1px solid;
    padding: 5%;
    flex-direction: row;
}
.you{

}