body{
    background: rgb(105,41,41);
    background: radial-gradient(circle, rgba(105,41,41,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
}
.outer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.containers{
    border: white 1px solid;
    padding: 5%;
    flex-direction: column;
    width: 100%;
}
.imag{
    width: 64px;
    height: 64px;
}
.opp{
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin: 5%;
}
.you{
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin: 5%;
}
#choice{

    background: rgb(105,41,41);
    background: radial-gradient(circle, rgba(105,41,41,1) 0%, rgba(0,0,0,1) 100%);}