body{
    background-color: black;
    color: white;
}
.outer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.containers{
    border: white 1px solid;
    padding: 5%;
    flex-direction: column;
    width: 100%;
}
.imag{
    width: 64px;
    height: 64px;
}
.opp{
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin: 5%;
}
.you{
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin: 5%;
}